@import url("https://fonts.googleapis.com/css2? family= Advertencia:wght@500 & display=swap");
header {
  border-bottom: 5px solid #a73657;
  justify-content: space-between;
  background-image: linear-gradient(to right, #FF80E6, #800080);
}
header img {
  width: 10rem;
}
header nav ul li a {
  font-family: "Advertencia", cursiva;
  margin: 2rem;
  color: #343a40;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #fb8b24;
  margin: 1rem;
  font-size: 1.2rem;
  transition: 2s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: #ffe5ec;
}

section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /*Pagina Productos*/
}
section img {
  width: 15rem;
}
section h1 {
  color: #343a40;
  font-size: 2.2rem;
  font-family: "Advertencia", cursiva;
  margin-left: 5rem;
  padding-top: 2rem;
}
section .caja-uno {
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  margin: 1rem;
  color: #343a40;
}
section .caja-dos {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-tres {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-cuatro {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-cinco {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #4F7D96;
  align-self: center;
  color: #343a40;
}
section .caja-seis {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section p {
  font-family: "Advertencia", cursiva;
  font-size: medium;
  font-style: oblique;
  text-align: center;
}
section .parrafo-productos {
  color: #e9c6db;
  background-color: #a73657;
  font-size: 4rem;
  border: 1rem double white;
  text-align: center;
}
section div h2 {
  color: #343a40;
  font-size: 2rem;
  font-family: "Advertencia", cursiva;
  align-self: center;
  margin: 1rem;
  text-align: center;
}
section .caja-siete {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-ocho {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-nueve {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-diez {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section video {
  width: 80%;
  margin-top: 3rem;
}
section .parrafo-combos, section div.parrafo-mujeres {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
}
section .caja-once {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-doce {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
}
section .caja-trece {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-catorce {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-quince {
  margin: 1rem;
  padding: 1rem;
  background-color: #4F7D96;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .preguntas h2 {
  font-size: 2rem;
  color: #343a40;
}
section .preguntas ol li {
  color: #343a40;
  font-size: 1rem;
}
section video {
  width: 90%;
  margin-left: 2rem;
  margin-top: 2rem;
}
footer {
  background-image: linear-gradient(to right, #FF80E6, #800080);
  color: black;
  margin-top: 20rem;
  align-items: center;
  border-top: 1px solid gray;
}
footer .container-footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
footer .container-footer .column-01 {
  max-width: 30rem;
}
footer .container-footer .column-01 h1 {
  font-size: 2.2rem;
  color: color-renna;
}
footer .container-footer .column-01 p {
  font-size: 1rem;
  color: color-renna;
  margin-top: 1rem;
}
footer .container-footer .column-02 {
  margin-left: 4rem;
}
footer .container-footer .column-02 h2 {
  color: black;
  font-size: 2rem;
}
footer .container-footer .column-02 .filas {
  color: color-renna;
  margin-top: 2rem;
  display: flex;
}
footer .container-footer .column-02 .filas img {
  width: 4rem;
}

.button-02 {
  background-color: pink;
  color: black;
  width: 7rem;
  font-family: Arial;
  transition: 1s;
  cursor: pointer;
  padding: 1rem;
  text-decoration: none;
  border-radius: 2rem;
  text-align: center;
  display: block;
  margin-top: 20rem;
}
.button-02:hover {
  background-color: purple;
}

.button-01 {
  display: block;
  text-decoration: none;
  color: #a73657;
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 7rem;
  border-radius: 2rem;
  text-align: center;
  background-image: linear-gradient(to right, #ffccd5, #fff0f3);
}

/*# sourceMappingURL=style.css.map */
