@import url("https://fonts.googleapis.com/css2? family= Nanum+Myeongjo:wght@700 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= PT+Serif:ital@1 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Nanum+Myeongjo:wght@700 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= PT+Serif:ital@1 & display=swap");
header {
  border-bottom: 5px solid #a73657;
  justify-content: space-between;
  background-image: linear-gradient(to right, #FF80E6, #B721FF);
}
header img {
  width: 10rem;
}
header nav ul li a {
  font-family: "Advertencia", cursiva;
  margin: 2rem;
  color: #343a40;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #fb8b24;
  margin: 1rem;
  font-size: 1.2rem;
  transition: 2s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: #ffe5ec;
}
body div.anuncio {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  background-color: #fefae0;
}
body div.anuncio span {
  font-weight: bold;
}

section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /*Pagina Productos*/
}
section img {
  width: 15rem;
}
section h1 {
  color: #343a40;
  font-size: 2.2rem;
  font-family: "Nanum Myeongjo", serif;
  margin-left: 5rem;
  padding-top: 2rem;
}
section h2 {
  color: #343a40;
  font-size: 2rem;
  font-family: "Nanum Myeongjo", serif;
  align-self: center;
  margin: 1rem;
}
section .caja-uno {
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  margin: 1rem;
  color: #343a40;
  text-align: center;
}
section .caja-uno img {
  width: 14rem;
}
section .caja-dos {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-dos img {
  width: 14rem;
}
section .caja-tres {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-tres img {
  width: 14rem;
}
section .caja-cuatro {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-cuatro img {
  width: 14rem;
}
section .caja-cinco {
  margin: 1rem;
  width: 14rem;
  border-radius: 2rem;
  background-color: #8EC5FC;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-cinco img {
  width: 14rem;
}
section .caja-seis {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  text-align: center;
  color: #343a40;
}
section .caja-seis img {
  width: 14rem;
}
section p {
  font-family: "Advertencia", cursiva;
  font-size: medium;
  font-style: oblique;
  text-align: center;
}
section .parrafo-productos {
  color: #e9c6db;
  background-color: #a73657;
  font-size: 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-family: "PT Serif", serif;
}
section div h1 {
  color: #343a40;
  font-size: 2rem;
  font-family: "Nanum Myeongjo", serif;
  align-self: center;
  margin: 1rem;
  text-align: center;
}
section .caja-siete {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-siete img {
  width: 14rem;
}
section .caja-ocho {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-ocho img {
  width: 14rem;
}
section .caja-nueve {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  text-align: center;
  color: #343a40;
}
section .caja-nueve img {
  width: 14rem;
}
section .caja-diez {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  text-align: center;
  color: #343a40;
}
section .caja-diez img {
  width: 14rem;
}
section video {
  width: 80%;
  margin-top: 3rem;
  margin-left: 1rem;
}
section .parrafo-combos, section div.parrafo-mujeres {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  font-family: "PT Serif", serif;
}
section .caja-once {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-once img {
  width: 14rem;
}
section .caja-doce {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-doce img {
  width: 14rem;
}
section .caja-trece {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-trece img {
  width: 14rem;
}
section .caja-catorce {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-catorce img {
  width: 14rem;
}
section .caja-quince {
  margin: 1rem;
  width: 14rem;
  background-color: #8EC5FC;
  border-radius: 2rem;
  align-self: center;
  color: #343a40;
  text-align: center;
}
section .caja-quince img {
  width: 14rem;
}
section .preguntas1 h2 {
  font-size: 2rem;
  color: #343a40;
  font-family: "PT Serif", serif;
  text-align: start;
}
section .preguntas1 ol li {
  color: #343a40;
  font-size: 1rem;
  font-family: "PT Serif", serif;
}
section .preguntas2 h3 {
  font-size: 2rem;
  color: #343a40;
  font-family: "PT Serif", serif;
  margin-left: 2rem;
}
section .preguntas2 ul li {
  color: #343a40;
  font-size: 1rem;
  font-family: "PT Serif", serif;
}
section .preguntas3 p {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  font-family: "PT Serif", serif;
}
section .video-02 {
  width: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
}
footer {
  background-image: linear-gradient(to right, #FF80E6, #B721FF);
  color: black;
  margin-top: 20rem;
  align-items: center;
  border-top: 1px solid gray;
}
footer .container-footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
footer .container-footer .column-01 {
  max-width: 30rem;
}
footer .container-footer .column-01 h2 {
  font-size: 2.2rem;
  color: color-renna;
  font-family: "Nanum Myeongjo", serif;
}
footer .container-footer .column-01 p {
  font-size: 1rem;
  color: color-renna;
  margin-top: 1rem;
  font-family: "PT Serif", serif;
}
footer .container-footer .column-02 {
  margin-left: 4rem;
}
footer .container-footer .column-02 h3 {
  color: black;
  font-size: 2rem;
  font-family: "Nanum Myeongjo", serif;
}
footer .container-footer .column-02 .filas {
  color: color-renna;
  margin-top: 2rem;
  display: flex;
  font-family: "Nanum Myeongjo", serif;
}
footer .container-footer .column-02 .filas img {
  width: 4rem;
}

.button-02 {
  background-color: pink;
  color: black;
  width: 7rem;
  font-family: Arial;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2rem;
  text-align: center;
  display: block;
  margin-left: 3rem;
}
.button-02:hover {
  background-color: purple;
}

.button-01 {
  display: block;
  text-decoration: none;
  color: #a73657;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 7rem;
  border-radius: 2rem;
  text-align: center;
  background-image: linear-gradient(to right, #ffccd5, #fff0f3);
}

@media (max-width: 400px) {
  body {
    background-color: pink;
  }
}
@media (min-width: 1680px) {
  section .video-02 {
    margin-left: 15rem;
  }
}
@media (max-width: 1100px) {
  header .button-01 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
