@mixin button-style ($bg-color, $text-color, $ancho, $font, $time){
    background-color: $bg-color;
    color: $text-color;
    width: $ancho;
    font-family: $font;
    transition: $time;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    border-radius:2rem;
    text-align: center;
    display: flex;

    &:hover{
        background-color: purple;
    }
}

.button1{
    @include button-style(pink, black, 7rem, Arial, 1s);
}