footer {

    //gradiente lineal
    background-image: linear-gradient(to right,#FF80E6,#B721FF);
    color: black;
     margin-top: 2rem;
    align-items: center;
    border-top: 1px solid gray;

    .container-footer {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

        .column-01 {
            max-width: 30rem;

            h2{
                font-size: $font-size-h1;
                color: color-renna;
                font-family: 'Nanum Myeongjo', serif;
            }

            p {
                font-size: 1rem;
                color: color-renna;
                margin-top: 1rem;
                font-family: 'PT Serif', serif;
                
            }

        }

        .column-02 {
            margin-left: 4rem;

            h3{
                color: black;
                font-size: $font-size-h2;
                font-family: 'Nanum Myeongjo', serif;;
            }

            .filas {
                color: color-renna;
                margin-top: 2rem;
                display: flex;
                font-family: 'Nanum Myeongjo', serif;

                img {
                    width: 4rem;
                }
            }

        }

        
    }







}