@import "../utilities/variables";
header {
    border-bottom: 5px solid #a73657;
    justify-content:space-between;
    //gradiente lineal
    background-image: linear-gradient(to right,#FF80E6, #800080);

    img {
        width: 10rem;
    }

    nav {
        ul {
            li {
                a {
                    font-family: 'Advertencia', cursiva;
                    margin: 2rem;
                    color: $color-renna;
                    text-decoration: none;
                    // justify-content: center;
                

                    &:hover {
                        color: #fb8b24;
                        margin: 1rem;
                        font-size: 1.2rem;
                        transition: 2s;
                    }

                }
        
              

            }

        }
        

    }


}