@import "../utilities/variables";

section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    align-items: center;

    img {
        width: 15rem;
    }

    h1 {
        color: $color-renna;
        font-size: $font-size-h1;
        font-family: 'Advertencia', cursiva;
        margin-left: 5rem;
        padding-bottom: 4rem;
        padding-top: 2rem;

    }

    .caja-uno {
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        margin-top: 2rem;
        color: $color-renna;
    }

    .caja-dos {
        margin-top: 4rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-tres {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-cuatro {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-cinco {
        margin-top: 4rem;
        padding: 1.4rem;
        border-radius: 2rem;
        background-color: $color-box;
        align-self: center;
        color: $color-renna;
    }

    .caja-seis {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        justify-content: center;
        color: $color-renna;
    }

    p {
        font-family: 'Advertencia', cursiva;
        font-size: medium;
        font-style: oblique;
        text-align: center;

    }

    /*Pagina Productos*/

    .parrafo-productos {
        color: #e9c6db;
        background-color: $background-prod;
        font-size: $font-size-parra;
        border: 1rem double black;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    div h2 {
        color: $color-renna;
        font-size: $font-size-h2;
        font-family: 'Advertencia', cursiva;
        align-self: center;
        margin-left: 2rem;

    }

    .caja-siete {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;

    }

    .caja-ocho {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-nueve {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;

    }

    .caja-diez {
        margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    //Pagina Combos

    video {
        width: 100%;
        margin-top: 3rem;
    }

    .parrafo-combos {
        margin: 2rem;
        font-size: 2rem;
        align-items: center;
    }

    .caja-once {
        margin: 1rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
    }

    .caja-doce {
        margin: 1rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-trece {
        margin: 1rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-catorce {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
    }

    .caja-quince {
        margin: 1rem;
        padding: 1.4rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    //Pagina Preguntas

    .preguntas {
        h2 {
            font-size: $font-size-h2;
            color: $color-renna;
        }

        ol {
            li {
                color: $color-renna;
                font-size: 1rem;
            }
        }
    }

    // Pagina Mujeres   
    video{
        width: 90%;
       margin-top: 2rem;
       margin-left: 2rem
   
    }
    div.parrafo-mujeres{

        @extend.parrafo-productos;

    }
        
          
        
    


}