@import "../utilities/variables";

section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   

    img {
        width: 15rem;
    }

    h1 {
        color: $color-renna;
        font-size: $font-size-h1;
        font-family: 'Advertencia', cursiva;
        margin-left: 5rem;
        padding-top: 2rem;

    }

    .caja-uno {
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        // margin-top: 4rem;
        margin: 1rem;
        color: $color-renna;
    }

    .caja-dos {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-tres {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-cuatro {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-cinco {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        border-radius: 2rem;
        background-color: $color-box;
        align-self: center;
        color: $color-renna;
       
    }

    .caja-seis {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
       
    }

    p {
        font-family: 'Advertencia', cursiva;
        font-size: medium;
        font-style: oblique;
        text-align: center;

    }

    /*Pagina Productos*/

    .parrafo-productos {
        color: #e9c6db;
        background-color: $background-prod;
        font-size: $font-size-parra;
        border-radius: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    div h2 {
        color: $color-renna;
        font-size: $font-size-h2;
        font-family: 'Advertencia', cursiva;
        align-self: center;
        margin: 1rem;
        text-align: center;

    }

    .caja-siete {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
       

    }

    .caja-ocho {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    }

    .caja-nueve {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
     

    }

    .caja-diez {
        margin: 1rem;
        // margin-top: 4rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
       
    }

    //Pagina Combos
    
        video{
            width: 80%;
             margin-top: 3rem;
        }
    
     
   

    .parrafo-combos {
        margin:1rem;
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
    }

    .caja-once {
        margin: 1rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
    
    }

    .caja-doce {
        margin: 1rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
       
    }

    .caja-trece {
        margin: 1rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
        text-align: center;
    }

    .caja-catorce {
        margin: 1rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
        text-align: center;
    }

    .caja-quince {
        margin: 1rem;
        padding: 1rem;
        background-color: $color-box;
        border-radius: 2rem;
        align-self: center;
        color: $color-renna;
        text-align: center;
    }

    //Pagina Preguntas

    .preguntas {
        h2 {
            font-size: $font-size-h2;
            color: $color-renna;
        }

        ol {
            li {
                color: $color-renna;
                font-size: 1rem;
            }
        }
    }

    // Pagina Mujeres   
    video {
        width: 90%;
     margin-left: 2rem;
     margin-top: 2rem
    }

    div.parrafo-mujeres {

        @extend.parrafo-combos;
    

    }






}