.button-01{
    display: block;
    text-decoration: none;
    color: #a73657;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 7rem;
    border-radius: 2rem;
    text-align: center;
    background-image: linear-gradient(to right, #ffccd5, #fff0f3);
    }