@import "../utilities/variables";
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
}
body{
    background-color: $background-body;
    
div.anuncio {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    background-color: #fefae0;

    span {
        font-weight: bold;
    }


}


}

